<!--メール送信後の完了画面-->

{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="card">
    <h2>パスワードの再設定</h2>
    <p>ご登録のメールアドレス宛に、<br>
       パスワード再設定用のリンク<br>
       を送信しました。<br>
       メールに記載されているリンクから<br>
       設定してください。<br>
    </p>

    <div style="margin-top: 20px; text-align: center;">
        <a href="{% url 'choco_palette:login' %}" class="upload-link" style="text-decoration: underline;">
            ログイン画面へ戻る
        </a>
    </div>
</div>

{% endblock %}