{% extends 'base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="signup-card">
<h2>パスワードの再設定</h2>
<p>
    パスワードをお忘れの方は、<br>
    パスワードの再設定をお願いします。<br>
    ご登録のメールアドレスを入力して<br>
    送信を押してください。
</p>

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_email">メールアドレス</label>
        <input type="email" name="email" id="id_email" required>
     </div>
    <button type="submit">送信</button>
</form>  

<div style="margin-top: 15px;">
        <a href="{% url 'choco_palette:login' %}">ログイン画面へ戻る</a>
 </div>
</div>

{% endblock %}