{% autoescape off %}
-----------------------------------------------------------
件名：Choco Palette パスワード再設定のご案内
-----------------------------------------------------------

{{ user.username }} 様

このメールは、パスワード再設定をリクエストされたお客様へ自動送信されています。

以下のURLをクリックし、24時間以内にパスワード再設定手続きを行ってください。
{{ protocol }}://{{ domain }}{% url 'choco_palette:password_reset_confirm' uidb64=uid token=token %}

※上記URLの有効期限は24時間です。期限を過ぎた場合は、再度お手続きをお願いいたします。
※このメールにお心当たりがない場合は、本メールを破棄していただきますようお願いいたします。

-----------------------------------------------------------
Choco Palette
{% endautoescape %}