<!--パスワード変更画面-->
{% extends "base.html" %}

{% block header_left %}
<a href="{% url 'choco_palette:mypage' %}" style="text-decoration:none; color:#4a2c2a;">🔙</a>
{% endblock %}

{% block content %}
<div class="card">
    <h2 style="margin-bottom: 20px;">パスワード変更</h2>
    
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group" style="text-align: left; margin-bottom: 20px;">
                <label style="font-weight: bold; margin-bottom: 5px; display: block;">{{ field.label }}</label>
                {{ field }}
                
                {% if field.name == 'new_password1' %}
                <small>※半角英数字を含む8文字以上で入力してください</small>
                {% endif %}
            </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary" style="width:100%;">変更する</button>
    </form>
</div>
{% endblock %}